[Unit]
Description=API for WPA

[Service]
User=root
ExecStart=/usr/bin/wpapi
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
