Package: wpapi
Version: 0.0.1
Section: misc
Priority: optional
Architecture: amd64
Maintainer: Robert Mcleod <robert@penguinpower.co.nz>
Essential: no
Homepage: https://github.com/theojulienne/go-wireless
Installed-Size: 17922
Description: This is a description
  This is a longer description
  that takes up multiple lines
